In [1]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

In [2]:
dataset = 'FoodBalanceSheets_E_Africa_NOFLAG.csv'
df = pd.read_csv(dataset, encoding = 'latin-1')
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [4]:
df.shape

(60943, 12)

In [22]:
df.duplicated().sum()

0

In [24]:
df.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [28]:
print(df['Element'].unique())
print('Number of unique Elements is', df['Element'].nunique())
print('-'*50)
print('Number of unique Element Code is', df['Element Code'].nunique())

['Total Population - Both sexes' 'Domestic supply quantity'
 'Food supply (kcal/capita/day)' 'Protein supply quantity (g/capita/day)'
 'Fat supply quantity (g/capita/day)' 'Production' 'Import Quantity'
 'Stock Variation' 'Export Quantity' 'Feed' 'Seed' 'Losses' 'Processing'
 'Other uses (non-food)' 'Residuals' 'Food'
 'Food supply quantity (kg/capita/yr)' 'Tourist consumption']
Number of unique Elements is 18
--------------------------------------------------
Number of unique Element Code is 18

#### Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?

In [32]:
ans = df.groupby('Element')[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sum().reset_index()
ans

,Element,Y2014,Y2015,Y2016,Y2017,Y2018
0,Domestic supply quantity,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
1,Export Quantity,150020.64,157614.47,151920.46,182338.80,181594.80
2,Fat supply quantity (g/capita/day),10225.56,10235.74,10102.77,10253.84,10258.69
3,Feed,216927.89,225050.22,228958.65,223705.68,233489.68
4,Food,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
5,Food supply (kcal/capita/day),454257.00,453383.00,451810.00,454681.00,455261.00
6,Food supply quantity (kg/capita/yr),49650.63,49345.13,48985.28,48690.04,49056.85
7,Import Quantity,274144.48,267018.46,286582.78,294559.09,287997.09
8,Losses,153223.00,155439.00,157787.00,160614.00,163902.00
9,Other uses (non-food),78718.13,66254.41,69563.68,91645.97,91300.97
10,Processing,282923.00,287929.00,280631.00,292836.00,308429.00
11,Production,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
12,Protein supply quantity (g/capita/day),11836.46,11833.95,11779.69,11842.45,11833.56
13,Residuals,30149.00,30045.00,37224.00,35500.00,34864.00
14,Seed,21922.92,23976.82,23389.20,24870.14,25263.14
15,Stock Variation,58749.83,34910.99,33140.12,54316.91,20577.91
16,Total Population - Both sexes,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
17,Tourist consumption,416.00,349.00,89.00,91.00,90.00

#### Which year had the least correlation with ‘Element Code’?

In [66]:
df['Element Code'].corr(df['Y2014'])

0.024456819495221795

In [67]:
df['Element Code'].corr(df['Y2015'])

0.02388919930163992

In [68]:
df['Element Code'].corr(df['Y2016'])

0.023443997584961428

In [69]:
df['Element Code'].corr(df['Y2017'])

0.02425400776004572

In [70]:
df['Element Code'].corr(df['Y2018'])

0.02427857195351955

#### What is the total number of unique countries in the dataset?

In [38]:
df['Area'].nunique()

49

#### Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?

In [40]:
df.groupby('Element')['Y2017'].sum()

Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64

#### What is the total sum of Wine produced in 2015 and 2018 respectively?

In [43]:
print(df.groupby('Item')['Y2015'].sum())
print('-' * 50)
df.groupby('Item')['Y2018'].sum()

Item
Alcohol, Non-Food        2293.00
Alcoholic Beverages     97847.27
Animal Products         11578.61
Animal fats            269648.27
Apples and products      9640.51
                         ...
Vegetables, Other      163987.21
Vegetal Products       107775.39
Wheat and products     242645.19
Wine                     4039.32
Yams                   221272.09
Name: Y2018, Length: 119, dtype: float64

#### What is the total Protein supply quantity in Madagascar in 2015?

In [54]:
ans = df.groupby(['Area', 'Element'])['Y2015'].sum().reset_index()
ans[ans['Area'] == 'Madagascar']

           Area                                 Element     Y2015
411  Madagascar                Domestic supply quantity  31214.98
412  Madagascar                         Export Quantity    494.75
413  Madagascar      Fat supply quantity (g/capita/day)     91.85
414  Madagascar                                    Feed   2070.22
415  Madagascar                                    Food  21120.65
416  Madagascar           Food supply (kcal/capita/day)   7685.00
417  Madagascar     Food supply quantity (kg/capita/yr)    871.59
418  Madagascar                         Import Quantity   1721.80
419  Madagascar                                  Losses   2176.00
420  Madagascar                   Other uses (non-food)   3957.12
421  Madagascar                              Processing   1803.00
422  Madagascar                              Production  29482.89
423  Madagascar  Protein supply quantity (g/capita/day)    173.05
424  Madagascar                               Residuals   -616.00
425  Madagascar                                    Seed    699.00
426  Madagascar                         Stock Variation   -505.00
427  Madagascar           Total Population - Both sexes  24234.00

#### What is the total number and percentage of missing data in 2014 to 3 decimal places?

In [55]:
df['Y2014'].isnull().sum()

1589

#### Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?

In [58]:
df.groupby('Area')['Y2017'].sum().sort_values()[:7]

Area
Sudan (former)               0.00
Ethiopia PDR                 0.00
Comoros                     59.84
Seychelles                 442.34
Sao Tome and Principe    12662.63
Cabo Verde               14650.74
Guinea-Bissau            19102.77
Name: Y2017, dtype: float64

#### What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?

In [59]:
df['Y2017'].describe()

count     59437.000000
mean        140.917765
std        1671.862359
min       -1582.000000
25%           0.000000
50%           0.100000
75%           9.000000
max      190873.000000
Name: Y2017, dtype: float64

#### Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?

In [64]:
df.groupby('Area')['Y2017'].sum().sort_values(ascending = False)[:1]

Area
Nigeria    1483268.23
Name: Y2017, dtype: float64